---
layout: default
---

<div class="intro">
  <div>
    <h1>Amberbrook Toys is the exclusive distributor in Malaysia for quality toys</h1>
  </div>
</div>

<div class="grid-equalheight grid-center">
  <div class="col-2_sm-6 logo-tile zoompic">
    <a href="/djeco"><img src="images/logodjeco.jpg" /></a>
  </div>
  <div class="col-2_sm-6 logo-tile zoompic">
    <a href="/educational-insights"><img src="images/logoeducationalinsights.png" /></a>
  </div>
  <div class="col-2_sm-6 logo-tile zoompic">
    <a href="/brainbox"><img src="images/logobrainbox.png" /></a>
  </div>
  <div class="col-2_sm-6 logo-tile zoompic">
    <a href="/learning-resources"><img src="images/logolearningresources.png" /></a>
  </div>
  <div class="col-2_sm-6 logo-tile zoompic">
    <a href="/little-big-room"><img src="images/logolittlebigroom.jpg" /></a>
  </div>
</div>

  {% include main.html %}

<!--
  {% include link-abl.html %}
-->
