<!--Footer-->
<footer class="grid-center">


<div class="col-12 grid-center">
  <nav class="nav-link footer-social col-8_sm-12">
    <a href="https://www.facebook.com/amberbrooktoys/" target="_blank">Facebook</a>
    <a href="https://www.instagram.com/amberbrooktoys/" target="_blank">Instagram</a>
    <a href="https://www.pinterest.com/amberbrooktoys/" target="_blank">Pinterest</a>
    <a href="https://twitter.com/amberbrooktoys" target="_blank">Twitter</a>
  </nav>
</div>

<div class="col-12 grid-center">
  <nav class="nav-link footer-docs col-8_sm-12">
    <a href="/terms">Terms and Conditions</a>
    <a href="/privacy">Privacy Policy</a>
  </nav>
</div>

<div class="col-12 footer-copyright">
  <p>
    Amberbrook Toys 2017 | Website by <a href="https://www.facebook.com/studiostripes/" target="_blank">STUDIO STRIPES</a>
  </p>
</div>

</footer>
