<!--Footer-->
<footer class="grid-center">

<div class="col-10 grid-center">

  <nav class="nav-link footer-links col-3_sm-12">
    <h3>About</h3>
    <ul>
      <li><a href="/about-us">About Us</a></li>
      <li><a href="/store-finder">Our Stores</a></li>
      <li><a href="/shop">Buy Online</a></li>
      <!--
      <li><a href="/contact-us">Contact</a></li>
      -->
    </ul>
    </nav>

    <nav class="nav-link footer-links col-3_sm-12">
      <h3>Policies</h3>
      <ul>
        <li><a href="/terms-and-conditions">Terms and Conditions</a></li>
        <li><a href="/privacy-policy">Privacy Policy</a></li>
      </ul>
      </nav>

  <nav class="nav-link footer-links col-3_sm-12">
    <h3>Social</h3>
    <ul>
      <li><a href="https://www.facebook.com/amberbrooktoys/" target="_blank">Facebook</a></li>
      <li><a href="https://www.instagram.com/amberbrooktoys/" target="_blank">Instagram</a></li>
<!--
      <li><a href="https://www.pinterest.com/amberbrooktoys/" target="_blank">Pinterest</a></li>
-->
      <li><a href="https://twitter.com/amberbrooktoys" target="_blank">Twitter</a></li>
    </ul>
  </nav>

</div>

<div class="col-12 footer-copyright">
  <p>
    Amberbrook Toys 2019 | Website by <a href="https://www.facebook.com/studiostripes/" target="_blank">STUDIO STRIPES</a>
  </p>
</div>

</footer>
