<head>
  <!--page title and meta data-->
  <title>Amberbrook Toys- official distributor in Malaysia for Djeco, BrainBox, Green Board Games, Learning Resources, Educational Insights</title>

  <meta charset="utf-8" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <meta name="description" content="Amberbrook Toys is the exclusive distributor in Malaysia for Djeco, Little Big Room by Djeco, BrainBox Games, Green Board Games, Educational Insights, Learning Resources toys and games. We carry quality imported toys from America, Europe and the UK." />

  <meta name="keywords" content="djeco, djeco toys, djeco games, djeco puzzles, little big room, home decor, brainbox games, educational insights, learning resources, toys for children, toys for kids, classic toys, arts and crafts, activity kits, STEM toys, STEAM toys, SEN toys, special educational needs resources, educational toys, puzzles, building blocks, dolls, kitchen sets, play food, role playing, dress up, costumes, family games" />

  <!--link to stylesheets-->
  <link href="https://fonts.googleapis.com/css?family=Didact+Gothic|Open+Sans" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.4.0/gridlex.min.css">
  <link rel="stylesheet" href="/css/style.css" />

</head>
