<header class="grid-middle">
  <div class="site-logo col-12">
    <a href="/index.html">
      <img src="/images/logoamberbrooktoys.jpg" alt="Amberbrook Toys exclusive distributor in Malaysia for Djeco, Brainbox Games, Educational Insights, Learning Resources" />
    </a>
  </div>

  <nav class="site-nav col-12">
    <a href="/about-us">about</a>
    <div class="dropdown">
      <button onclick="myFunction()" class="dropbtn">brands</button>
        <div id="myDropdown" class="dropdown-content">
          <a href="/djeco">djeco</a>
          <a href="/educational-insights">educational insights</a>
          <a href="/brainbox">the green board game co</a>
          <a href="/learning-resources">learning resources</a>
          <a href="/little-big-room">little big room</a>
        </div>
    </div>
    <a href="/store-finder">stores</a>
    <a href="/shop">online</a>
    <!--
    <a href="/contact-us">contact</a>
    -->
  </nav>
</header>
