<div class="grid-equalheight grid-center">
  <div class="col-5_sm-12 abl-blurb">
    <h2>
      Are you a school, kindergarten or learning centre?
    </h2>
    <h2>
      ...or perhaps you're a teacher or parent looking for high quality, innovative educational resources?
    </h2>
    <h2>
      Our products are developed by top educators who understand the needs of teachers.
    </h2>
  </div>
  <div class="col-5_sm-12 abl-link">
    <h2>
      Visit Amberbrook Learning for specialised school resources!
    </h2>
  </div>
</div>
